
<ul>
    <!--  -->
    <section id="" class="book-container book-detail">
    
      <img src=<%= books.image_url %> alt=Cover for <%= books.title %> />
      <h2>
        <%= books.title %>
        <% if (books.subtitle){ %>:<%=books.subtitle %> 
          <%} %>
      </h2>
    
      <h3><%= books.author %></h3>
      <!-- you can class these for hiding -->
      <p><%= books.description %></p>
      <p><%= books.isbn %></p>
      <p>
        <% if (books.bookshelf) {%>
          Bookshelf: <%= books.bookshelf %>
          <%} %>
      </p>
    </section>
    
    
    


<!-- 
<section id="" class="book">
  
  <img src=<%= books.image_url %> alt="Cover for <%= books.title %>" />
  <h2><%= books.title %></h2>
  <h3><%= books.author %></h3>
  <p><%= books.description %></p>
  <p><%= books.isbn %></p>
  <p>Bookshelf <%= books.bookshelf %></p>
  
</section>
     -->
