<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
  <main>
  <h1><%= searchResults.length %> Book Results</h1>
  <p><a href="/new">New Search</a></p>
  <p><a href="/">Saved Books</a></p>

  <ul>
    <% searchResults.forEach(volumeInfo => { %>
      <div>
    <li class="img"><img src='<%= volumeInfo.imageLinks %>' /></li>
    <li class="title"><%= volumeInfo.title %></li>
    <li class="author"><%= volumeInfo.authors %></li>
    <li class="description"><%= volumeInfo.description %></li></div>
    <% }); %>

  </ul>
</main>
<footer> 
    <%- include('../../layout/footer') %>
</footer>
</body>

</html>