<!-- pages/searches/show  -->

<!-- New search for 10 books -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  <header>
    <%- include('../../layout/header') %>
  </header>
  <main>
    

    <ul class="subnav">
      <li>
        <i class="fas fa-search"></i>
        <a href="/new">Search</a>
      </li>
      <li>
        <i class="fas fa-book-open"></i>
        <a href="/">Shelf</a>
      </li>
    </ul>
      
  <h1><%= books.length %> Book Results</h1>

  <ul>
    <% books.forEach(books => { %>
    <div>
      <!-- <li class="img"><img src="<%= books.image_url %>"></li>
      <li class="title"><h4><%= books.title %></h4></li>
      <li class="author"><%= books.authors %></li>
      <li class="description"><%= books.description %></li> -->
      <li data-book-id="<%= books.isbn %>">
          <%- include('../books/detail', {books:books})%>
        </li>

      <!-- <button type="button" class="showButton" form="<%= books.title %>" name="<%= books.title %>" >Select this Book</button> -->
      <button class="showhidden" form="<%= books.title %>" name="<%= books.title %>">Select Book</button>

      <form action="/searches/book_id" method="post" id="<%= books.title %>" class="form"> 
        <input type="text" name="title" value="<%= books.title %>" />
        <input type="text" name="author" value="<%= books.authors %>" />
        <input type="textarea" name="description" value="<%= books.description %>" />
        <input type="text" name="isbn" value="<%= books.identifier %>" />
        <input type="text" name="image_url" value="<%= books.image_url %>" />

        <label for="bookshelf">Place On a Bookshelf:</label>
        <input list="book-genres" id="bookshelf" name="bookshelf"  />

        <datalist id="book-genres">
          <option value="Fantasy"></option>
          <option value="Science Fiction"></option>
          <option value="Westerns"></option>
          <option value="Romance"></option>
          <option value="Thriller"></option>
          <option value="Mystery"></option>
          <option value="Detective Story"></option>
          <option value="Dystopia"></option>
          <option value="General"></option>
        </datalist>

        <button type="submit">Save to Database</button>
      </form>
    </div>
    <% }); %>

  </ul>
</main>
<footer> 
    <%- include('../../layout/footer') %>
</footer>


</body>

</html>
<!-- 
<label for="ice-cream-choice">Choose a flavor:</label>
<input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />

<datalist id="ice-cream-flavors">
    <option value="Chocolate">
    <option value="Coconut">
    <option value="Mint">
    <option value="Strawberry">
    <option value="Vanilla">
</datalist> -->