<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
  <main>
    <!-- sub navigation -->
    <ul class="subnav">
        <li>
          <i class="fas fa-search"></i>
          <a href="/new">Search</a>
        </li>
        <li>
            <i class="fas fa-book-open"></i>
          <a href="/">Shelf</a>
        </li>
      </ul>
    <!-- end subnav -->
  <h1><%= results.length %> Saved Books</h1>
  <!-- <p><a href="/searches">API Search Results</a></p> -->

  <ul>
    <% results.forEach(bookInfo => { %>
      <div>
    <li class="img left"><img src='<%= bookInfo.image_url %>' /></li>
    <li class="title right"><%= bookInfo.title %></li>
    <li class="author right"><%= bookInfo.author %></li>
    <button class="right" type="button" onclick="alert('Hello world!')">View Details</button>
    <!-- <li><%= bookInfo.isbn %></li>
    <li class="description"><%= bookInfo.description %></li> -->
  </div>
    <% }); %>
<!-- there were two closing divs. -->
  </ul>
</main>
<footer> 
    <%- include('../../layout/footer') %>
</footer>
</body>

</html>