<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
  <main>
  <h1><%= results.length %> Saved Books</h1>
  <p><a href="/new">New Search</a></p>
  <!-- <p><a href="/searches">API Search Results</a></p> -->

  <ul>
    <% results.forEach(bookInfo => { %>
      <div>
    <li class="img"><img src='<%= bookInfo.image_url %>' /></li>
    <li class="title"><%= bookInfo.title %></li>
    <li class="author"><%= bookInfo.author %></li>
    <button type="button" onclick="alert('Hello world!')">View Details</button>
    <!-- <li><%= bookInfo.isbn %></li>
    <li class="description"><%= bookInfo.description %></li> -->
  </div>
    <% }); %>
<!-- there were two closing divs. -->
  </ul>
</main>
<footer> 
    <%- include('../../layout/footer') %>
</footer>
</body>

</html>